<ion-header [translucent]="true">
  <ion-toolbar>
    <img class="displayed"  height="75 px" width="75 px" src="../../assets/icon/77191645.png" routerLink="/co">
    <ion-buttons slot="secondary">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../assets/icon/BF37XK5RQPUX73IZL4V3RET4WM.webp">
 <div class="move">
  <div class="box">
    <img src="../../assets/icon/cliche-frances.jpg">
   </div>
 </div>

 <!-- <img src="../../assets/icon/pasta.jpeg">  -->

<!-- Test affichage boucle sur les ressources en base de données-->
<ion-list >
  <ion-item *ngFor="let ressource of ressources | async">
    <ion-icon name="radio-button-off" color="dark" *ngIf="ressource.status == 0" slot="start" ></ion-icon>
    <ion-icon name="checkmark-circle" color="success" *ngIf="ressource.status == 1" slot="start" ></ion-icon>

    <ion-label>
      <h2>{{ ressource.title }}</h2>
      <p>{{ ressource.desc }}</p>
    </ion-label>
    <ion-note>
      {{ ressource.created_at?.seconds*1000 | date: 'MMM d' }}
    </ion-note>
  </ion-item>
</ion-list>


</ion-content>
<!-- Boutton ajouter ressources -->
<ion-fab  class="ion-margin-bottom ion-margin-end ion-padding-bottom" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="success" (click)="openRessourceModal()">
  <!-- <ion-fab-button color="success"> -->
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-tab-bar color="light" slot="bottom">
  <ion-tab-button tab="tab1" routerLink="/home">
    <ion-icon name="home"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="tab2">
    <ion-icon name="search"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="tab3" routerLink="/profil">
    <ion-icon name="person-circle-outline"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
