ion-header{
  --ion-background-color: #11998e;
}

// .displayed {
//   display: block;
//   margin-left: 0;
//   margin-right: 0;
// }

// .box{
//   height: 100px;
//   width: 100px;
//   border-radius: 50px;
//   overflow: hidden;
// }

// .move{
//   display: flex;
//   margin-top: -50px;
// }

ion-fab {
  margin: 0 35px 40px 0;
  ion-fab-button {
    width:70px !important;
    height:70px !important ;
    // color: var(--ion-color-success-shade);
    ion-icon {
      font-size: 35px;
    }
  }
  @media(min-width:820px){
    display:none;
    .ion-margin-bottom {
      --margin-bottom: 50px;
    }
  }
}
@media screen and (max-width:819px) {
  .newRess {
    display:none;
  }
}

.center {
  margin-left: auto !important;
  margin-right: auto !important;
  display: block !important;
}

.wrapper-card {
  height:100%;
}

// .wrapper-img {
//   width:100%;
//   height:50% !important;
//   background-color:red;

//   ion-img {
//     width: 100%;
//     height:100%;
//     max-width:100% !important;
//     max-height:100% !important;
//     overflow:hidden;
//     // max-height:50px !important;
//     object-fit:contain;
//   }
// }
.flex {
  display:flex;
  justify-content:center;
  align-items: center;
}
.img-box {
  display:flex;
  justify-content:center;
  align-items: center;
  height:350px;
  overflow: hidden;
  ion-img{
    object-fit: fill !important;
  }
}
.card {
  padding:10px;
  background-color:#11998e36;
  border-radius:5px;
  margin:10px;
}

.box{
  height: 150px;
  width: 150px;
  border-radius: 75px;
  overflow: hidden;
}

.move{
  display: flex;
  margin-top: -70px;
  margin-left:40px;
}

.tes {
  --background: transparent;
  // background-color: red;
  background: url(../../assets/footer.png) 0 0/100% 100% no-repeat !important;
  // height:500px !important;
  padding:0 !important;
  margin:0 !important;
}
