<ion-header [translucent]="true" >
  <ion-toolbar color="primary">
  <ion-title> Administration </ion-title>
    <ion-buttons slot="secondary">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-grid>
  <h2 class="ion-text-center">Liste des utilisateurs</h2>
  <ion-row class="ion-justify-content-center">
    <ion-col size-lg="6" size-md="6" size-sm="8" size="12">
      <ion-searchbar></ion-searchbar>
      <ion-list>
        <ion-item button *ngFor="let user of users | async" (click)="openUserModal(user.id)" >

          <ion-label>
            <h2>{{ user.nom }}</h2>
            <p>{{ user.prnom }}</p>
          </ion-label>
          <ion-note color="light" slot="end">{{ user.created?.seconds*1000 | date: 'MMM d' }}</ion-note>
        </ion-item>
      </ion-list>

    </ion-col>
  </ion-row>
</ion-grid>

  <ion-grid class="ion-margin">
    <ion-row class='ion-justify-content-center'>
      <ion-col size-lg="6" size-md="7" size-sm="10" size="12">
      <ion-searchbar></ion-searchbar>
        <ion-row class='first-row ion-justify-content-center'>
          <ion-col >N</ion-col>
          <ion-col>Nom</ion-col>
          <ion-col>Prenom</ion-col>
          <ion-col>email</ion-col>
          <ion-col>Role</ion-col>
          <ion-col>Editer</ion-col>
        </ion-row>
        <ion-row  button *ngFor="let user of users | async ; index as i">
          <ion-col>{{ i + 1 }}</ion-col>
          <ion-col>{{ user.nom }}</ion-col>
          <ion-col>{{ user.prenom }}</ion-col>
          <ion-col>{{ user.email }}</ion-col>
          <ion-col>{{ user.role }}</ion-col>
          <ion-col><ion-button (click)="openUserModal(user.id)"><ion-icon name="brush"></ion-icon></ion-button></ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-item lines="none">
    <ion-button (click)="createUser()"color="primary" size="small" slot="primary">
      Créer utilisateur
    </ion-button>
  </ion-item>

</ion-content>
