<ion-header [translucent]="true" >
  <ion-toolbar color="primary">
  <ion-title> Administration </ion-title>
    <ion-buttons slot="secondary">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-grid >
  <h2 class="ion-text-center">Liste des utilisateurs</h2>
  <ion-row class="ion-justify-content-center listM">
    <ion-col size-lg="10" size="12">
      <ion-searchbar (ionInput)="onInput($event)"></ion-searchbar>

      <!-- <ion-list>
        <ion-item
          *ngFor="let user of users"

        >
          <ion-label class="ion-text-wrap">
            <h2>
              {{ user.nom }}
            </h2>
          </ion-label>
        </ion-item>
      </ion-list> -->

      <ion-list>
        <ion-item button *ngFor="let user of users" (click)="openUserModal(user.id)" >

          <ion-label>
            <h2>{{ user.nom }}</h2>
            <p>{{ user.prenom }}</p>
          </ion-label>
          <ion-note color="dark" slot="end">{{ user.created?.seconds*1000 | date: 'MMM d' }}</ion-note>
        </ion-item>
      </ion-list>

    </ion-col>
  </ion-row>
</ion-grid>





  <ion-grid class="ion-margin tableDesk">
    <ion-row class='ion-justify-content-center'>
      <ion-col size-lg="10" size-md="12" size-sm="12" size="12">
        <ion-searchbar (ionInput)="onInput($event)"></ion-searchbar>
        <ion-row class='first-row '>
          <ion-col size="1">N</ion-col>
          <ion-col size="2">Nom</ion-col>
          <ion-col size="2">Prenom</ion-col>
          <ion-col size="3">email</ion-col>
          <ion-col size="2">Role</ion-col>
          <ion-col size="2">Editer</ion-col>
        </ion-row>
        <ion-row  button *ngFor="let user of users ; index as i">
          <ion-col size="1">{{ i + 1 }}</ion-col>
          <ion-col size="2">{{ user.nom }}</ion-col>
          <ion-col size="2">{{ user.prenom }}</ion-col>
          <ion-col size="3">{{ user.email }}</ion-col>
          <ion-col size="2">{{ user.role }}</ion-col>
          <ion-col size="2"><ion-button (click)="openUserModal(user.id)"><ion-icon name="brush"></ion-icon></ion-button></ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="openUserModal()" color="primary" >
          Créer utilisateur
        </ion-button>
      </ion-col>
    </ion-row>
</ion-grid>







  <!-- </ion-grid> -->


</ion-content>
