<ion-header [translucent]="true" >
  <ion-toolbar color="primary">
  <ion-title> Administration </ion-title>
    <ion-buttons slot="secondary">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button *ngFor="let ressource of ressources | async" (click)="openRessource(ressource.id)">
      <ion-icon name="radio-button-off" color="dark" *ngIf="ressource.status == 0" slot="start"></ion-icon>
      <ion-icon name="checkmark-circle" color="success" *ngIf="ressource.status == 1" slot="start"></ion-icon>

      <ion-label>
        <h2>{{ ressource.title }}</h2>
        <p>{{ ressource.desc }}</p>
      </ion-label>
      <ion-note color="light" slot="end">{{ ressource.created_at?.seconds*1000 | date: 'MMM d' }}</ion-note>

    </ion-item>
  </ion-list>
  <!-- </ion-menu> -->

</ion-content>

