
ion-content {
  --background: #11998e;
  --ion-item-background: transparent;
}
ion-label {
  --color: rgb(255, 255, 255) !important;
}

// ion-input, ion-textarea {
//   margin-top: 10px;
//   margin-bottom: 10px;
//   --padding-start: 5px !important;
//   border: 1px solid white;
//   border-radius:5px;
//   background-color: #79c2bc;
//   input, textarea {
//       --padding-start: 5px !important;
//   }
//   --color: #fff !important;
// }
.input {
  background-color: rgba(255, 255, 255, 0.76);
  border-radius:20px;
  border:1px solid rgba(0, 128, 0, 0.582);
  margin:3px;
}

ion-input {
  color : rgb(99, 99, 99) !important;
  padding:2px !important;
  margin:2px !important;
  height:5px !important;
}

ion-label {
  color:#136368 !important;
}


















// xs
@media screen and (max-width:576px) {
  
  ion-footer{
    display:none;
  }
}

//sm
@media screen and (min-width: 576px) and (max-width: 767px) {

  ion-footer, .store {
    display:none;
  }
}
//md
@media screen and (min-width: 768px) {
  
  ion-footer {
    --background: transparent;
    // background-color: red;
    background: url(../../../assets/footer.png) 0 0/100% 100% no-repeat;
    // height:500px !important;
    ion-img {
      width:100px;
      height:80px;
      
    }
  }
}

//lg
@media screen and (min-width: 992px) {
  ion-content{
    --background: url(../../../assets/desktop.png) 0 0/100% 100% no-repeat;
    width:100%;
    height:100%;
  }
}

// xl
@media screen and (min-width: 1200px) {
  ion-content{
    // --ion-background-color: #11998e;
    --background: url(../../../assets/desktop.png) 0 0/100% 100% no-repeat;
    // object-fit: cover;
    width:100%;
    height:100%;

  }
}

ion-item{
  --ion-background-color: transparent!important;
}

.input {
  background-color: rgba(255, 255, 255, 0.76);
  border-radius:20px;
  border:1px solid rgba(0, 128, 0, 0.582);
  margin:3px;
}

ion-input {
  color : rgb(99, 99, 99) !important;
  padding:2px !important;
  margin:2px !important;
  height:5px !important;
}

ion-label {
  color:rgb(161, 161, 161);
}


.padding{
  padding: 0 5% 0 5%;
}


.center {
  margin-left: auto !important;
  margin-right: auto !important;
  display: block !important;
}
