<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/co"></ion-back-button>
  </ion-buttons>
  <ion-title>Créer un compte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="register()">

    <ion-item lines="none">
      <!-- <ion-label position="floating">Email</ion-label> -->
      <ion-label>Email</ion-label>
      <ion-input type='email' placeholder="john@doe.com" formControlName="email" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Nom</ion-label>
      <ion-input type='email' placeholder="Doe" formControlName="nom" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Prenom</ion-label>
      <ion-input type='email' placeholder="John" formControlName="prenom" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Téléphone</ion-label>
      <ion-input type='email' placeholder="0619617459" formControlName="tel" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Mot de passe</ion-label>
      <ion-input type='password' placeholder="" formControlName="password" ></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="!registerForm.valid" color="primary" class='ion-padding-horizontal ion-margin-vertical'>
      <ion-icon name="checkmark" slot='end'></ion-icon>
      S'inscrire
    </ion-button>
  </form>
</ion-content>
