
ion-content {
  --background: #11998e;
  --ion-item-background: transparent;
}
ion-label {
  --color: rgb(255, 255, 255) !important;
}

// ion-input, ion-textarea {
//   margin-top: 10px;
//   margin-bottom: 10px;
//   --padding-start: 5px !important;
//   border: 1px solid white;
//   border-radius:5px;
//   background-color: #79c2bc;
//   input, textarea {
//       --padding-start: 5px !important;
//   }
//   --color: #fff !important;
// }
