
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center" size-lg="6" size-md="6" size-sm="12" size="12">
        <div class="header">
          <h1 style="color:white;">(Re)Sources relationnelles</h1>
          <h2 style="color:rgb(255, 251, 43);">Créer, partager, enrichir<br/>vos relations</h2>
        </div>

        <div class="store">
          <p style="color:#26AF97;">Disponible sur</p>
              <ion-row class="ion-justify-content-center wrapper-store" >
                <ion-col class="center" size-lg="2" size-md='2' size-sm="6">
                  <ion-img class='icon-store' src="../../assets/googleplay.png"></ion-img>
                  <p class="center" style='color:grey;font-size:0.7rem'>Google Play</p>
                </ion-col>
                <ion-col class="center" size-lg="2" size-md='2' size-sm="6">
                  <ion-img class='icon-store' src="../../assets/appstore.png"></ion-img>
                  <p class="center" style='color:grey;font-size:0.7rem'>Apple Store</p>
                </ion-col>
              </ion-row>
        </div>
      </ion-col>

      <ion-col class="form-login">
        <div class="padding">
          <ion-img class="center" src="../../assets/icon/77191645.png" routerLink="/home"></ion-img>
          <form (ngSubmit)="login()" [formGroup]="loginForm">
                  <ion-item class='input'>
                      <!-- <ion-label color="light">Email</ion-label> -->
                      <ion-input color="light" type='email' formControlName="email" placeholder="Adresse mail" type="email"></ion-input>
                  </ion-item>

                <ion-item class="input">
                  <!-- <ion-label color="light">Mot de passe</ion-label> -->
                  <ion-input color="light" type ='password' formControlName="password" placeholder="Mot de passe" type="password"></ion-input>
                </ion-item>

                <ion-item lines="none">
                  <ion-button (click)="openReset()"  fill="clear" slot="end">Mot de passe oublié</ion-button>
                </ion-item>

                <ion-button [disabled]="!loginForm.valid" color="success" shape="round" type="submit" (click)="login()" expand="block">Connexion</ion-button>
                <ion-button shape="round" routerLink='/register' color="tertiary" expand="block">Inscription</ion-button>
              </form>
            </div>
      </ion-col>
    </ion-row>
    <!-- Test si l'utilisateur non connecté => affiche formulaire ou non -->
    <!-- <div *ngIf="!connected"> -->

            <!-- </div> -->
    </ion-grid>
</ion-content>

<ion-footer transparent class="ion-no-border">
  <ion-grid>
    <ion-row>
      <ion-col size-lg="1.5" size-md="2" size-sm="3">
        <ion-img src="../../assets/logo-liberte-egalite-fraternite 1(1).png"></ion-img>
      </ion-col>
      
      <ion-col >
        <p style="color:white;">Créé par le ministère des solidarités et de la santé</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>

