ion-content{
  --ion-background-color: #11998e;
}

ion-item{
  --ion-background-color: transparent!important;
}

.padding{
  padding: 5%;
}

.displayed{
  display: block;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.bg{
  height: 100%;
  width: 100%;
  background-image: url("../../assets/icon/77191645.png");
  background-repeat: no-repeat;
  background-size: contain;
}
