ion-content{
  --ion-background-color: #11998e;
}

ion-item{
  --ion-background-color: transparent!important;
}

.padding{
  padding: 5%;
}

.displayed{
  display: block;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}


