// xs
@media screen and (max-width:576px) {
  ion-content{
    // --ion-background-color: #11998e;
    --background: url(../../assets/fdCo.png) 0 0/100% 100% no-repeat;
  }
  h1 {
    font-size:1.2em;
    padding:0;
    color:white;
  }
  h2 {
    font-size:1em;
  }
  .header {
    text-align: center;
  }
  ion-img {
    height:40%;
    width:40%;
    justify-content: center;
    margin-bottom: 15px;
  }
  ion-footer, .store {
    display:none;
  }
}

//sm
@media screen and (min-width: 576px) and (max-width: 767px) {
  ion-content{
    // --ion-background-color: #11998e;
    --background: url(../../assets/fdCo.png) 0 0/100% 100% no-repeat;
    // object-fit: cover;
    width:100%;
    height:100%;
    .header {
      display:flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align:center;
      padding-top:30px;
    }
    ion-img {
      height:30%;
      width:30%;
      margin-bottom: 5px;
    }
    ion-footer, .store {
      display:none;
    }
  }
}
//md
@media screen and (min-width: 768px) {
  ion-content{
    // --ion-background-color: #11998e;
    --background: url(../../assets/desktopsm.png) 0 0/100% 100% no-repeat;
    // object-fit: cover;
    width:100%;
    height:100%;
    ion-img {
      height:40%;
      width:40%;
      margin-bottom: 15px;
    }
    .header {
      text-align: left;
    }
    .wrapper-store {
      display:flex;
      justify-content: center;
      .icon-store {
        width:50px !important;
        height:50px !important;
      }
    }
    h1 {
      color: #26AF97 !important;
    }
    ion-footer {
      display:none;
    }
    .form-login {
      margin-top:8%;
      background-color: rgba(255, 255, 255, 0.733);
      border-radius: 20px;
      box-shadow: 0 1px 0;
    }
  }
}

//lg
@media screen and (min-width: 992px) {
  ion-content{
    // --ion-background-color: #11998e;
    --background: url(../../assets/desktop.png) 0 0/100% 100% no-repeat;
    // object-fit: cover;
    width:100%;
    height:100%;

    ion-img {
      height:30%;
      width:30%;
    }
  }
}

// xl
@media screen and (min-width: 1200px) {
  ion-content{
    // --ion-background-color: #11998e;
    --background: url(../../assets/desktop.png) 0 0/100% 100% no-repeat;
    // object-fit: cover;
    width:100%;
    height:100%;

    ion-img {
      height:25%;
      width:25%;
      margin-bottom: 15px;
    }
    .form-login {
      margin-top:6%;
      margin-right:5%;
    }
  }
}

ion-item{
  --ion-background-color: transparent!important;
}

.input {
  background-color: rgba(255, 255, 255, 0.76);
  border-radius:20px;
  border:1px solid rgba(0, 128, 0, 0.582);
  margin:3px;
}

ion-input {
  color : rgb(99, 99, 99) !important;
  padding:2px !important;
  margin:2px !important;
  height:5px !important;
}

ion-label {
  color:rgb(161, 161, 161);
}


.padding{
  padding: 0 5% 0 5%;
}


.center {
  margin-left: auto !important;
  margin-right: auto !important;
  display: block !important;
}
