

<ion-content>
  <div class="bg_img"></div>
  <img class="displayed"  height="200 px" width="200 px" src="../../assets/icon/77191645.png" routerLink="/home">

  <div class="padding">
  <ion-item>
    <ion-label color="light">Email</ion-label>
    <ion-input color="light" placeholder="Adresse mail" type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="light">Mot de passe</ion-label>
    <ion-input color="light" placeholder="Mot de passe" type="password"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-button color="light" fill="clear" slot="end">Mot de passe oublié</ion-button>
  </ion-item>

  <ion-button shape="round" expand="block">Connexion</ion-button>
  <br>
  <ion-button shape="round" expand="block">Creation de compte</ion-button>
</div>
</ion-content>
