<ion-header [translucent]="true">
  <ion-toolbar>
    <img class="displayed"  height="50 px" width="50px" src="../../assets/icon/77191645.png" routerLink="/co">
    <ion-buttons slot="secondary">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
<h1 style="margin-left:15px;color:#11998e;">Ressources Relationnelles</h1>
<!-- <div style="background-color:green; height:300px;" *ngFor="let ressource of ressources | async">
  <p>{{ ressource.title }}</p>
</div> -->
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header> -->

<ion-grid>
  <!-- searchbar -->
  <ion-row class="ion-justify-content-center">
    <ion-col size-lg="5"size-md="6"size-sm="8" size="12">
      <ion-searchbar (ionInput)="onInput($event)"></ion-searchbar>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">

    <ion-col class="card" *ngFor="let ressource of ressources " size-lg="3" size-md="5" size-sm="12" size ="12">
      <div class="wrapper-card">
        <h2> {{ ressource.title }} </h2>

        <div class="flex">
          <div class="wrapper-img img-box">
            <img src="{{ ressource.imgURL}}">
          </div>
        </div>

        <ion-tab-bar>
          <ion-tab-button tab="tab4">
            <ion-icon name="add"></ion-icon>
          </ion-tab-button>
          <ion-tab-button tab="tab5">
            <ion-icon name="heart-outline"></ion-icon>
          </ion-tab-button>
          <ion-tab-button tab="tab7">
            <ion-icon name="chatbox-ellipses-outline"></ion-icon>
          </ion-tab-button>
        </ion-tab-bar>
      </div>
    </ion-col>
  </ion-row>

<ion-row>

</ion-row>
</ion-grid>

</ion-content>

<ion-tab-bar color="light" slot="bottom">
  <ion-tab-button tab="tab1" routerLink="/home">
    <ion-icon name="home"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="tab2">
    <ion-icon name="search"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="tab3" routerLink="/profil">
    <ion-icon name="person-circle-outline"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
