<ion-header [translucent]="true">
  <ion-toolbar>
    <img class="displayed"  height="75 px" width="75 px" src="../../assets/icon/77191645.png" routerLink="/co">
    <ion-buttons slot="secondary">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>
  <img src="../../assets/icon/images.jpeg">
  <ion-tab-bar>
    <ion-tab-button tab="tab4">
      <ion-icon name="add"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="tab5">
      <ion-icon name="heart-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="tab7">
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
  <ion-card>
    <ion-input></ion-input>
  </ion-card>
  <img src="../../assets/icon/Among-Us-Desktop-Wallpaper-Backgrounds-Neon-Logo.jpg">
  <ion-tab-bar>
    <ion-tab-button tab="tab4">
      <ion-icon name="add"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="tab5">
      <ion-icon name="heart-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="tab7">
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
  <ion-card>
    <ion-input></ion-input>
  </ion-card>
  <img src="../../assets/icon/6a8b50ac0aa0e64f224bcee2f0afbd66.jpg">
  <ion-tab-bar>
    <ion-tab-button tab="tab4">
      <ion-icon name="add"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="tab5">
      <ion-icon name="heart-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="tab7">
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
  <ion-card>
    <ion-input></ion-input>
  </ion-card>
  <img src="../../assets/icon/YpCO1pN.jpg">
  <ion-tab-bar>
    <ion-tab-button tab="tab4">
      <ion-icon name="add"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="tab5">
      <ion-icon name="heart-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="tab7">
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
  <ion-card>
    <ion-input></ion-input>
  </ion-card>
</ion-content>



<ion-tab-bar color="light" slot="bottom">
  <ion-tab-button tab="tab1" routerLink="/home">
    <ion-icon name="home"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="tab2">
    <ion-icon name="search"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="tab3" routerLink="/profil">
    <ion-icon name="person-circle-outline"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>

