#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-header{
  --ion-background-color: #11998e;
}

.displayed {
  display: block;
  margin-left: 0;
  margin-right: 0;
}


.center {
  margin-left: auto !important;
  margin-right: auto !important;
  display: block !important;
}

.wrapper-card {
  height:100%;
}

// .wrapper-img {
//   width:100%;
//   height:50% !important;
//   background-color:red;

//   ion-img {
//     width: 100%;
//     height:100%;
//     max-width:100% !important;
//     max-height:100% !important;
//     overflow:hidden;
//     // max-height:50px !important;
//     object-fit:contain;
//   }
// }
.flex {
  display:flex;
  justify-content:center;
  align-items: center;
}
.img-box {
  display:flex;
  justify-content:center;
  align-items: center;
  height:350px;
  overflow: hidden;
  ion-img{
    object-fit: fill !important;
  }
}
.card {
  padding:10px;
  background-color:#11998e36;
  border-radius:5px;
  margin:10px;
}
